div{text-align: center;}
body{background-color: black;}
img{border: 5px solid white; 
margin-top: 100px;}
h1{color: white;
    font-family: 'Libre Baskerville', serif;}
    p{color: white;
        font-family: 'Quattrocento Sans', sans-serif;}
